@font-face
{
	font-family: "Catull";
	src: url("../font/catull.ttf");
}

html
{
	background-color: white;
	height: 100%;
	font-family: "Arial";
}

body
{
	position: relative;
	z-index: 0;
	height: 100%;
	margin: 0px;
}

header
{
	position: relative;
	z-index: 1;
}

*
{
	outline: none;
}

.noselect
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo_small
{
	display: none;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 44px;
	margin: 8px 20px 8px 15px;
	cursor: pointer;
}

#logo
{
	height: 132px;
	margin: auto;
	padding-top: 180px;
	text-align: center;
	font-family: "Catull";
	font-size: 100px;
}

#logo>span
{
	display: inline-block;
	cursor: default;
}

#logo>.one
{
	position: relative;
	background-image: url("../img/logo_part_one.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 113px;
	height: 132px;
}

#logo>.two
{
	position: relative;
	bottom: 34px;
	background-image: url("../img/ball.gif");
	background-repeat: no-repeat;
	background-size: contain;
	width: 54px;
	height: 54px;
	margin-left: 6px;
	cursor: pointer;
}

#logo>.three
{
	position: relative;
	background-image: url("../img/logo_part_two.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 135px;
	height: 132px;
}

#search_form
{
	position: relative;
	background-color: white;
	width: 570px;
	height: 28px;
	border: solid 1px #D8D8D8;
	margin: auto;
	margin-top: 30px;
	font-size: 21px;
}

#search_form:hover
{
	border-color: #B2B2B2;
}

#search_form.active
{
	border-color: #3A9D23;
}

#search_form>input
{
	margin: 0px;
	border: none;
}

#search_field
{
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	background-color: white;
	padding: 4px 0px 4px 9px;
	width: 524px;
	line-height: 20px;
	height: 20px;
	font-size: 17px;
	font-family: "Arial";
}

#search_button
{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: transparent;
	background-image: url("../img/loupe.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: center;
	width: 38px;
	height: 28px;
	padding: 0px;
	box-sizing: content-box;
	cursor: pointer;
}

#settings_button
{
	position: absolute;
	top: 15px;
	right: 15px;
	background-image: url("../img/settings.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-family: "Catull";
	font-size: 18px;
	color: transparent;
	cursor: pointer;
}

#settings_button:hover
{
	color: #3A9D23;
}

#settings_close_button
{
	position: absolute;
	top: 5px;
	right: 5px;
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

#settings_close_button:hover
{
	color: red;
}

#settings
{
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.6);
	width: 100%;
	height: 100%;
}

#option_box
{
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 400px;
	height: 350px;
	margin: auto;

	-moz-box-shadow: 0px 0px 10px 0px #656565;
	-webkit-box-shadow: 0px 0px 10px 0px #656565;
	-o-box-shadow: 0px 0px 10px 0px #656565;
	box-shadow: 0px 0px 10px 0px #656565;
}

#option_box>h1
{
	font-family: "Catull";
	text-align: center;
}

.option.on
{
	background-image: url("../img/check_on.png");
}

.option
{
	background-image: url("../img/check_off.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 100%;
	width: 80%;
	line-height: 30px;
	padding: 0% 10%;
	margin: 10% auto;
	cursor: pointer;
	box-sizing: border-box;
}

#allow_cookie
{
	position: fixed;
	bottom: 0px;
	background-color: #EBEFF3;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	border-top: solid 1px #3A9D23;
	box-sizing: border-box;
}

#allow_cookie>input
{
	display: inline-block;
	background-color: #3A9D23;
	padding: 4px 8px;
	border: none;
	margin-left: 15px;
	font-weight: bold;
	color: white;
	cursor: pointer;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/***********************************/
#autocomplete
{
	position: absolute;
	z-index: 2;
	background-color: white;
	top: 28px;
	left: -1px;
	display: none;
	width: 532px;
	line-height: 20px;
	border: solid 1px #D8D8D8;
	font-size: 17px;

	-moz-box-shadow: 0px 0px 5px 0px #999999;
	-webkit-box-shadow: 0px 0px 5px 0px #999999;
	-o-box-shadow: 0px 0px 5px 0px #999999;
	box-shadow: 0px 0px 5px 0px #999999;
}

#autocomplete>ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#autocomplete>ul>*
{
	padding: 0px 9px;
}

#autocomplete>ul>li
{
	cursor: pointer;
}

#autocomplete>ul>span
{
	font-style: italic;
}

#autocomplete>ul>li:hover, #autocomplete>ul>li.active
{
	background-color: #EEEEEE;
}

#results
{
	position: relative;
	display: none;
}

#result_header
{
	color: #777;
	font-size: 14px;
	line-height: 40px;
}

#result_header>.tab
{
	padding-left: 140px;
	border-bottom: solid 1px #EBEBEB;
}

#result_header>.tab>span
{
	display: inline-block;
	margin-right: 30px;
	line-height: 50px;
	cursor: pointer;
}

#result_header>.tab>span.on
{
	color: #dd4b39;
	font-weight: bold;
	border-bottom: solid 3px #dd4b39;
}

#number_results
{
	display: block;
	padding-left: 140px;
	margin-bottom: 20px;
}

.results_list
{
	margin-left: 140px;
}

.result
{
	margin-bottom: 30px;
	width: 512px;
	color: #545454;
}

.result>a
{
	color: #00529B;
	font-size: 18px;
	text-decoration: none;
}

.result>a:hover
{
	text-decoration: underline;
}

.result>span
{
	display: block;
	font-size: 14px;
	color: #3A9D23;
}

.result>p
{
	display: block;
	margin: 0px;
	font-size: 14px;
	max-height: 35px;
	text-overflow: ellipsis;
	overflow: hidden;
}

#recommendations_container
{
	position: absolute;
	top: 100px;
	right: 80px;
	border: 1px solid #EBEBEB;
	padding: 10px;
	width: 400px;
	color: #777;
	font-weight: bold;
	box-sizing: border-box;
}

#recommendations
{
	margin-top: 20px;
}

#recommendations>span
{
	display: block;
	margin-top: 10px;
	color: #00529B;
	font-size: 18px;
	font-weight: normal;
	cursor: pointer;
}

#recommendations>span:hover
{
	text-decoration: underline;
}